<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>WhereTheActionIs</string>
	<key>CFBundleIdentifier</key>
	<string>com.curtclifton.widget.WhereToFocus</string>
	<key>CFBundleName</key>
	<string>WhereTheActionIs</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5</string>
	<key>CFBundleVersion</key>
	<string>0.5</string>
	<key>CloseBoxInsetX</key>
	<integer>15</integer>
	<key>CloseBoxInsetY</key>
	<integer>15</integer>
	<key>Height</key>
	<integer>126</integer>
	<key>MainHTML</key>
	<string>WhereTheActionIs.html</string>
	<key>Width</key>
	<integer>270</integer>
</dict>
</plist>
